@include component(button) {
  display: inline-block;
  padding: 10px 20px;
  background: $palette_a;
  color: $white;
  appearance: none;
  border: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  &:before {
    @include transition(width, ease);
    position: absolute;
    content: '';
    background: $palette_b;
    transform-origin: right center;
    transform: skewX(-45deg);
    left: -40px;
    top: 0;
    bottom: 0;
    width: 0;
  }

  &:hover {

    &:before {
      //transform: translateX(0);
      width: calc(110% + 60px);
    }
  }

  @include option(rounded) {
    border-radius: $border_radius;

    @include option(extra-round) {
      border-radius: 50px;
    }
  }

  @include option(full-width) {
    width: 100%;
  }

  @include option(rounded-top-right) {
    border-top-right-radius: $border_radius;
  }

  @include option(rounded-top-left) {
    border-top-left-radius: $border_radius;
  }

  @include option(rounded-bottom-left) {
    border-bottom-left-radius: $border_radius;
  }

  @include option(rounded-bottom-right) {
    border-bottom-right-radius: $border_radius;
  }

  @include option(drop-in) {

    &:before {
      @include transition(transform, ease);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      content: '';
      background: $palette_b;
      transform: rotate(45deg) translateX(-101%);
    }

    &:hover {

      &:before {
        transform: translateX(0);
      }
    }
  }

  @include option(secondary) {
    background: $palette_b;

    &:before {
      background: $palette_a;
    }
  }

  @include option(tertiary) {
    background: $palette_c;

    &:before {
      background: $palette_a;
    }
  }

  @include option(transition-to-primary) {

    &:before {
      background: $palette_a;
    }
  }

  @include option(transition-to-secondary) {

    &:before {
      background: $palette_b;
    }
  }

  @include option(transition-to-tertiary) {

    &:before {
      background: $palette_c;
    }
  }

  @include option(small) {
    font-size: 0.875rem;
  }

  @include option(large) {
    font-size: 1.125rem;
  }

  @include option(larger) {
    font-size: 1.5rem;
  }


  @include option(largest) {
    font-size: 2rem;
  }

  @include part(icon) {
    @include fas;
    display: inline-block;
    margin-right: 10px;

    @include option(right) {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  @include part(text) {
    position: relative;
    z-index: 2;
  }
}
