@include component(progress-bar) {
  border: 1px solid $grey-0;
  padding: 10px;
  border-radius: 3px;

  @include part(indicator) {
    height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 40px;
    border: 1px solid $grey-0;
    margin-right: 20px;
    box-sizing: border-box;
    flex-grow: 0;

    @include option(complete) {
      background: $palette_a;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        @include fas;
        content: '\f00c';
        color: $white;
      }
    }

    @include option(incomplete) {
      background: $palette_b;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        @include fas;
        content: '\f35a';
        color: $white;
      }
    }

    @include option(error) {
      background: $palette_e;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        @include fas;
        content: '\f00d';
        color: $white;
      }
    }
  }

  @include part(bar-container) {
    background: $grey-0;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    flex-grow: 1;

    @include bp($tablet) {
      display: none;
    }

    @include option(desktop) {
      display: none;

      @include bp($tablet) {
        display: block;
      }
    }
  }

  @include part(bar) {
    background: $palette_a;
    height: 100%;
    border-radius: 4px;
  }

  @include part(title) {
    margin-right: 20px;
  }

  @include part(inner) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    @include bp($tablet) {
      margin-bottom: 0;
    }
  }
}
